/*override bootstrap.css*/
@media (min-width: 768px) {
  .container {
    width: 750px !important;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px !important;
  }
}
.navbar-toggle {
  border-color: #ffffff !important;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #428BCA !important;
}
.icon-bar {
  background-color: #ffffff !important;
}
.jumbotron {
  background-color: #ffffff !important;
}
.jumbotron p {
  font-size: 15px !important;
}
/*override bootstrap-theme.css*/
.navbar-default {
  background-color: #428BCA !important;
}
/*end of overriding*/
body {
	font-family: 'Roboto Mono' !important;
	/*font-family: 'PT Serif', serif !important;*/
}
#aval-content {
	margin: 40px 0 20px 0;
	line-height: 2;
}
.aval-selected-paragraph {
	margin: 1em 0 1em 0;
	border-left: 1em solid #FF0000;
	padding: 1em 1em 1em 2em ;
	background: #EEEEEE;
}
.aval-1S-paragraph {
	margin: 1em 0 1em 0;
	border: 1px solid #000000;
	padding: 1em 1em 1em 1em ;
	background: #FFFFFF;
}
.aval-1S-paragraph-black-text {
	color: #000000;
}
.aval-1S-paragraph-blue-text {
	color: #3333FF;
}
.aval-1S-paragraph-red-text {
	color: #FF0000;
}
.aval-1S-paragraph-green-text {
	color: #339966;
}
.aval-pgAdmin-paragraph {
	margin: 1em 0 1em 0;
	border: 1px solid #000000;
	padding: 1em 1em 1em 1em ;
	background: #FFFFFF;
}
.aval-pgAdmin-paragraph-black-text {
	color: #000000;
}
.aval-pgAdmin-paragraph-blue-text {
	color: #330099;
}
.aval-pgAdmin-paragraph-lilac-text {
	color: #9933CC;
}
.aval-pgAdmin-paragraph-green-text {
	color: #339966;
}
.aval-R-paragraph {
	margin: 1em 0 1em 0;
	border: 1px solid #000000;
	padding: 1em 1em 1em 1em ;
	background: #FFFFFF;
}
.aval-R-paragraph-black-text {
	color: #000000;
}
.aval-R-paragraph-blue-text {
	color: #3300CC;
}
.aval-R-paragraph-green-text {
	color: #339966;
}
.aval-R-paragraph-grey-text {
	color: #999999;
}
.aval-header-flow {
	text-align: left;
	font-size: 18px;
	color: #6699FF;
}
.aval-header-article {
	text-align: center;
	font-size: 18px;
	color: #FF0000;
}
.aval-footer-article {
	text-align: right;
	font-size: 18px;
	color: #FF6633;
}
.aval-article {
	text-align: justify;
}
.aval-article-date {
	text-align: right;
	color: #FF6633;
	font-size: 18px;
}
.aval-article-capital-word {
	font-size: 1.0em;
	color: #00CC00;
}
.aval-article-capital-letter {
	font-size: 1.0em;
	color: #FF6633;
}
.aval-nav-text {
	color: #FFFFFF;
}
.aval-bottom-nav {
	margin-bottom: 0px;
	border-width: 0px;
	border-radius: 0px;
}
.aval-bottom-nav-content {
	color: #FFFFFF !important;
}